img {  /* minha foto de perfil */
    border-color: black;
    border: 4px 4px 4px 4px;
    display: block;
    margin: auto;
    max-width:400px;
    max-height:300px;
    width: auto;
    height: auto;
    border-width: 3px 3px 3px 3px;
    border-color: black;
    border-style: solid;
}
.Home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.Home .Homee {
    background: linear-gradient(to right, navy 50%, darkblue 50%);
    border-radius: 5px; 
    padding: 5px 10px; 
}

.Home .Homee a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}